<script type="text/javascript">
  $(document).ready(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $("#pin_continent").val().replace(/\s/g, '')).show();

    $("#pin_continent").change(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $(this).val().replace(/\s/g, '')).show();
    });

    var programmatic = false;

    $("#new_pin").submit(function(event) {
      if(!programmatic) {
        event.preventDefault();

        $(".pin_continentname:hidden").remove();

        programmatic = true;

        $("#new_pin").submit();
      }
    });
  });
</script>

<%= form_for @pin, html:{multipart: true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :image %><br>

    <% if params[:pin] and params[:pin][:image_url] %>
      <%= hidden_field_tag 'pin[image_url]', params[:pin][:image_url] %>

      <%= image_tag params[:pin][:image_url] %>
    <% else %>
      <%= f.file_field :image, class: "form-control" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :continent %><br>
    <%= f.select :continent, CONTINENTS %>
  </div>
  
  <div class="form-group">
    
    <div><%= f.label :country, 'Country' %><br />
        <div id="pin_continentname_NorthAmerica" class="pin_continentname">
      <%= f.select :country, NORTH_AMERICA_COUNTRIES %>
    </div>
  

    <div id="pin_continentname_SouthAmerica" class="pin_continentname">
      <%= f.select :country, SOUTH_AMERICA_COUNTRIES %>
    </div>


    <div id="pin_continentname_Asia" class="pin_continentname">
      <%= f.select :country, ASIA_COUNTRIES %>
    </div>

    <div id="pin_continentname_Africa" class="pin_continentname">
      <%= f.select :country, AFRICA_COUNTRIES %>
    </div>


    <div id="pin_continentname_Europe" class="pin_continentname">
      <%= f.select :country, EUROPE_COUNTRIES %>
    </div>


    <div id="pin_continentname_Australia" class="pin_continentname">
      <%= f.select :country, AUSTRALIA_COUNTRIES %>
    </div>
   
    <br>
   </div>
  <div class="form-group">
    <div><%= label_tag 'pin[interest_ids][]', 'Interests' %><br />

    <table>
      <% Interest.order('name ASC').each_slice(13) do |slice| %>
        <tr>
          <% slice.each do |interest| %>
            <td>
              <%= check_box_tag 'pin[interest_ids][]', interest.id, @pin.interest_ids.include?(interest.id), id: dom_id(interest) %>
              <%= label_tag dom_id(interest), interest.name %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
