<script type="text/javascript">
  $(document).ready(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $("#pin_continent").val()).show();

    $("#pin_continent").change(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $(this).val()).show();
    });

    $("#new_pin").submit(function() {
      $(".pin_continentname:hidden").remove();
    });
  });
</script>

<%= form_for @pin, html:{multipart: true} do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :continent %><br>
    <%= f.select :continent, CONTINENTS %>
  </div>
  <div class="form-group">
    <div><%= f.label :country, 'Country' %><br />
        <div id="pin_continentname_America" class="pin_continentname">
      <%= f.select :country, ['USA'] %>
    </div>

    <div id="pin_continentname_Asia" class="pin_continentname">
      <%= f.select :country, ['China'] %>
    </div>

    <div id="pin_continentname_Africa" class="pin_continentname">
      <%= f.select :country, ['Kenya'] %>
    </div>

    <div id="pin_continentname_Europe" class="pin_continentname">
      <%= f.select :country, ['France'] %>
    </div>

    <div id="pin_continentname_Australia" class="pin_continentname">
      <%= f.select :country, ['Queensland'] %>
    </div>

    <div id="pin_continentname_Antarctica" class="pin_continentname">
      <%= f.select :country, ['Antarctica'] %>
    </div>
    <br>
   </div>
  <div class="form-group">
    <div><%= label_tag 'pin[interest_ids][]', 'Interests' %><br />

    <% Interest.order('name ASC').each do |interest| %>
      <%= check_box_tag 'pin[interest_ids][]', interest.id, @pin.interest_ids.include?(interest.id), id: dom_id(interest) %>
      <%= label_tag dom_id(interest), interest.name %><br>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
