<%= render 'pages/home' unless user_signed_in? %>

<script type="text/javascript">
  $(document).ready(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $("#continent").val().replace(/\s/g, '')).show();

    $("#continent").change(function() {
      $(".pin_continentname").hide();
      $("#pin_continentname_" + $(this).val().replace(/\s/g, '')).show();
    });

    var programmatic = false;

    $("#search").submit(function(event) {
      if(!programmatic) {
        event.preventDefault();

        $(".pin_continentname:hidden").remove();

        programmatic = true;

        $("#search").submit();
      }
    });
  });
</script>

<% if user_signed_in? %>
<%= form_tag pins_path, method: :get, id: 'search' do %>
  <%= select_tag :continent, options_for_select(CONTINENTS, params[:continent]) %>

  <span id="pin_continentname_NorthAmerica" class="pin_continentname">
    <%= select_tag :country, options_for_select(NORTH_AMERICA_COUNTRIES.clone << 'All', params[:country]) %>
  </span>


  <span id="pin_continentname_SouthAmerica" class="pin_continentname">
    <%= select_tag :country, options_for_select(SOUTH_AMERICA_COUNTRIES.clone << 'All', params[:country]) %>
  </span>


  <span id="pin_continentname_Asia" class="pin_continentname">
    <%= select_tag :country, options_for_select(ASIA_COUNTRIES.clone << 'All', params[:country]) %>
  </span>

  <span id="pin_continentname_Africa" class="pin_continentname">
    <%= select_tag :country, options_for_select(AFRICA_COUNTRIES.clone << 'All', params[:country]) %>
  </span>


  <span id="pin_continentname_Europe" class="pin_continentname">
    <%= select_tag :country, options_for_select(EUROPE_COUNTRIES.clone << 'All', params[:country]) %>
  </span>


  <span id="pin_continentname_Australia" class="pin_continentname">
    <%= select_tag :country, options_for_select(AUSTRALIA_COUNTRIES.clone << 'All', params[:country]) %>
  </span>

  <%= select_tag :interest, options_for_select(INTERESTS.sort.clone << 'All', params[:interest]), prompt: 'Select an interest' %>
   
  <%= submit_tag 'Search' %>

  <%= link_to 'Clear search', pins_path %>
<% end %>
<% end %>

<div class="pins transitions-enabled">
  <% @pins.each do |pin| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
         <div class="panel-body">
         <p><%= pin.description %></p>
         <p><%= pin.continent %></p>
         <p><%= pin.country %></p>
         <p>
          <strong>Interests</strong>

          <ul>
            <% pin.interests.each do |interest| %>
              <li><%= interest.name %></li>
            <% end %>
          </ul>
         </p>
            
            <p><strong><%= pin.user.name if pin.user %></strong></p>

         <% if pin.source.present? %>
          <p>
            <strong>From:</strong> <%= link_to pin.sanitized_source, pin.source %>
          </p>
         <% end %>
            
            <% if pin.user == current_user or current_user.try(:admin?) %>
              <div class="actions">
                  <%= link_to edit_pin_path(pin) do %>
                   <span class="glyphicon glyphicon-edit"></span>
                   Edit
                   <% end %>
                   <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <span class="glyphicon glyphicon-trash"></span>
                   Delete
                   <% end %>
              </div>
            <% end %>
         
         </div>
      </div>
  <% end %>
</div>
  <div class="center">
  <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div>