<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
			<div  class="panel panel-default">
		    <div  class="panel-heading center">
			
				<%= image_tag @pin.image, style: 'width: 100%' %>
			</div>
			<div class="panel-body">
			     <p><%= @pin.description %></p>
         <p><%= @pin.country %> (<%= @pin.continent %>)</p>
         <p>
          <strong>Interests: </strong> 
          
          <%= @pin.interests.collect(&:name).join(', ') %>
         </p>
				 <p><strong><%= @pin.user.name if @pin.user %></strong></p>
				 <% if @pin.source %>
				 <p>
				 	<strong>From:</strong> <%= link_to @pin.sanitized_source, @pin.source %>
				 </p>
				 <% end %>

            <% if @pin.user == current_user or current_user.try(:admin?) %>
						 <%= link_to edit_pin_path(@pin) do %> 
						  <span class="glyphicon glyphicon-edit"></span>
						   Edit
						 <% end %>
				<% end %>
			</div>
		</div>
</div>