<% if current_user and current_user.admin? %>


<div class="mainBlog">

<p>
  <%= link_to 'New post', new_post_path %>
</p>
<% end %>

<% @posts.each do |post| %>
  <h2><%= link_to post.title, post %></h2>

  <p>
    <%= post.body %>
  </p>

  <% if current_user and current_user.admin? %>
    <p>
      <%= link_to 'Edit', edit_post_path(post) %><br>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
<% end %>

</div>